# Kidney Diseases data

### 1) Data Summary :
   - There are 400 rows in dataset, which are having information of patients of kidney diseas to tell us type of kidney disease.
   - I am trying to clean this dataset, because there are many missing values are present in dataset
   - In this dataset, we have 400 rows and 26 columns (features)
   - Our target feature is 'classification' which is having two types of kidney disease 'ckd' means 'Chronic Kidney Disease' and 'notckd' means 'Not Chronic Kidney Disease.
   
### 2. Write Column descriptions:
- `id`: Unique identifier for each patient (e.g. 0,1,2,3,...n etc.)
- `age`: Age of the patient in years (e.g. 35, 42, 67, etc.)
- `bp`: Blood pressure of the patient in mm/Hg (e.g. 120,80, 140, etc.)
- `sg`: Specific gravity of the patient's urine (e.g. 1.010, 1.020, etc.)
- `al`: Amount of albumin present in the patient's urine (e.g. trace, 1+, 2+, etc.)
- `su`: Amount of sugar present in the patient's urine (e.g. trace, 1+, 2+, etc.)
- `rbc`: Presence of red blood cells in the patient's urine (e.g. normal, abnormal)
- `pc`: Presence of pus cells in the patient's urine (e.g. normal, abnormal)
- `pcc`: Presence of bacteria in the patient's urine (e.g. present, absent)
    - `Pcc` and `ba` both refer to the presence of bacteria in the patient's urine. 
    - `Pcc` stands for "pyuria or leukocyte esterase test results", which is a measure of the presence of white blood cells in the urine, and can indicate an infection in the urinary tract
- `ba`: Presence of bacteria in the patient's urine (e.g. present, absent)
    - `Ba` stands for "bacteria", and simply indicates whether bacteria were found in the urine or not.
    - Both `pcc` and `ba` are important parameters for diagnosing and monitoring urinary tract infections, which can affect the kidneys and lead to kidney damage if left untreated.
- `bgr`: Blood glucose level of the patient in mg/dL (e.g. 120, 200, etc.)
- `bu`: Blood urea level of the patient in mg/dL (e.g. 20, 30, etc.)
- `sc`: Serum creatinine level of the patient in mg/dL (e.g. 0.8, 1.2, etc.)
- `sod`: Sodium level in the patient's blood in mEq/L (e.g. 135, 140, etc.)
- `pot`: Potassium level in the patient's blood in mEq/L (e.g. 3.5, 4.0, etc.)
- `hemo`: Hemoglobin level in the patient's blood in g/dL (e.g. 10, 12, etc.)
- `pcv`: Packed cell volume (PCV) in the patient's blood (e.g. 35, 40, etc.)
- `wc`: White blood cell (WBC) count in the patient's blood (e.g. 7000, 8000, etc.)
- `rc`: Red blood cell (RBC) count in the patient's blood (e.g. 4.5, 5.0, etc.)
- `htn`: Presence of hypertension (e.g. yes, no)
- `dm`: Presence of diabetes mellitus (e.g. yes, no)
- `cad`: Presence of coronary artery disease (e.g. yes, no)
- `appet`: Appetite of the patient (e.g. good, poor)
- `pe`: Presence of pedal edema (e.g. yes, no)
- `ane`: Presence of anemia (e.g. yes, no)
- `classification`: Diagnosis of kidney disease (e.g. ckd as chronic kidney disease, notckd as not chronic kidney disease , etc.)

# Issues with dataset
### After manual and programmatic analysis I have some issues with dataset, so I am defining here that issues
1. Dirty data: 
  - A. Completeness : missing data
     - There is lots of data missing in our dataset
      - `age` has 9 missing values.
      - `bp` column has 12 missing values
      - `sg` has 47 missing values
      - `al` column has 46 missing values.
      - `su` has 49 
      - `rbc` has 152
      - `pc` has 65
      - `pcc` has 4
      - `ba` has 4 
      - `bgr` has 44
      - `bu` has 19
      - `sc` has 17
      - `sod` has 87
      - `pot` has 88
      - `hemo` has 52
      - `pcv` has 70
      - `wc` has 105
      - `rc` has 130
      - `htn` has 2
      - `dm` has 2
      - `cad` has 2
      - `appet` has 1 missing value
      - `pe` also has 1 
      - `ane` also has 1 missing value
 - B. validity :
  
 - C. Accuracy :
        
      - data type of column `pcv`,`wc` and `rc` should be numeric, but we have these columns  as 'object'
      
 - D. Consistensy : both valid and accurate but written differently -> no and \tno, yes and \tyes 
      - In column `dm` and `cad` there are some values are '\tno' and '\tyes', we have to change them to normal 'no' and 'yes'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('kidney_disease.csv')

In [3]:
# make copy of df1
df = data.copy()

In [4]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

# manual analysis in excel

In [5]:
# make excel file for this dataset by writing data in excel sheet
df.to_excel('kidney.xlsx')

# Programatically analysis

In [6]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [7]:
df.shape

(400, 26)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [9]:
# checking weather  'id' has duplicate values or not :
df['id'].duplicated().sum()

0

In [10]:
df.drop('id', axis=1).duplicated().sum()

0

In [11]:
# checking missing data in our dataset
for i in df.columns[1:]:
    a = 1
    
    print(f" Total Missing values in { i } : {df[i].isnull().sum()}")
    a+=1
    print('------')

 Total Missing values in age : 9
------
 Total Missing values in bp : 12
------
 Total Missing values in sg : 47
------
 Total Missing values in al : 46
------
 Total Missing values in su : 49
------
 Total Missing values in rbc : 152
------
 Total Missing values in pc : 65
------
 Total Missing values in pcc : 4
------
 Total Missing values in ba : 4
------
 Total Missing values in bgr : 44
------
 Total Missing values in bu : 19
------
 Total Missing values in sc : 17
------
 Total Missing values in sod : 87
------
 Total Missing values in pot : 88
------
 Total Missing values in hemo : 52
------
 Total Missing values in pcv : 70
------
 Total Missing values in wc : 105
------
 Total Missing values in rc : 130
------
 Total Missing values in htn : 2
------
 Total Missing values in dm : 2
------
 Total Missing values in cad : 2
------
 Total Missing values in appet : 1
------
 Total Missing values in pe : 1
------
 Total Missing values in ane : 1
------
 Total Missing values in classification : 0
------

In [12]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [13]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

# Cleaning mising values..

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

### 1) column age 
  - we will replace missing values of 'age' column by mean or median of 'age' column

In [15]:
df['age'].mean()

51.48337595907928

In [16]:
df['age'].median()

55.0

In [17]:
df[df['age']==55].shape

(12, 26)

In [18]:
# fill null values by mean
df['age'].fillna(df['age'].mean(), inplace=True)
df['age'].isnull().sum()

0

### 2) column 'bp' missing values

In [19]:
df['bp'].mean()

76.46907216494846

In [20]:
len(df[df['bp']==80])

116

In [21]:
# we know 'bp' has 12 missing values.
# we fill them by median
df['bp'].fillna(df['bp'].median(), inplace=True)
df['bp'].isnull().sum()

0

### 3) column 'sg' missing values 
 - we will fill missing values in 'sg' by mean or median

In [22]:
print('mean of sg : ',df['sg'].mean())
print('median of sg : ', df['sg'].median())

mean of sg :  1.0174079320113256
median of sg :  1.02

In [23]:
len(df[df['sg']==1.02])

106

In [24]:
# we fill missing values by mean
df['sg'].fillna(df['sg'].mean(), inplace=True)
df['sg'].isnull().sum()

0

### 4) column 'al'  missing values

In [25]:
df['al'].isnull().sum()

46

In [26]:
print('mean of al : ',df['al'].mean())
print('median of al : ',df['al'].median())

mean of al :  1.0169491525423728
median of al :  0.0

In [27]:
df['al'].value_counts()

0.0    199
1.0     44
2.0     43
3.0     43
4.0     24
5.0      1
Name: al, dtype: int64

In [28]:
# fill null values by median
df['al'].fillna(df['al'].median(), inplace=True)

# check null values in 'al'
df['al'].isnull().sum()

0

### 5) missing values in 'su' column

In [29]:
df['su'].value_counts()

0.0    290
2.0     18
3.0     14
4.0     13
1.0     13
5.0      3
Name: su, dtype: int64

In [30]:
df['su'].isnull().sum()

49

In [31]:
# filling missing values in 'su' by median
df['su'].fillna(df['su'].median(), inplace=True)

# check
df['su'].isnull().sum()

0

### 6) missing values in 'rbc' column

In [32]:
df['rbc'].isnull().sum()

152

In [33]:
df['rbc'].value_counts()

normal      201
abnormal     47
Name: rbc, dtype: int64

In [34]:
df['rbc'].mode()[0]

'normal'

In [35]:
# replace na values by 'normal' which  mode of rbc
df['rbc'].fillna(df['rbc'].mode()[0], inplace=True)

# check 
df['rbc'].isnull().sum()

0

### 7) 'pc' column missing values.

In [36]:
df['pc'].isnull().sum()

65

In [37]:
df['pc'].value_counts()

normal      259
abnormal     76
Name: pc, dtype: int64

In [38]:
df['pc'].mode()[0]

'normal'

In [39]:
# null values replaced by mode 
df['pc'].fillna(df['pc'].mode()[0] , inplace=True)

# check 
df['pc'].isnull().sum()

0

### 8) column 'pcc' missing values

In [40]:
df['pcc'].isnull().sum()

4

In [41]:
df['pcc'].value_counts()

notpresent    354
present        42
Name: pcc, dtype: int64

In [42]:
df['pcc'].mode()[0]

'notpresent'

In [43]:
# filling missing values in column 'pcc' by 'notpresent' which is mode 
df['pcc'].fillna(df['pcc'].mode()[0] ,inplace = True)

#check
df['pcc'].isnull().sum()

0

### 9) column 'ba' missing values

In [44]:
df['ba'].isnull().sum()

4

In [45]:
df['ba'].value_counts()

notpresent    374
present        22
Name: ba, dtype: int64

In [46]:
df['ba'].mode()[0]

'notpresent'

In [47]:
# filling missing values in column 'ba' by 'notpresent' which mode of ba
df['ba'].fillna(df['ba'].mode()[0],inplace = True)

#check
df['ba'].isnull().sum()

0

### 10) 'bgr' column missing values

In [48]:
df['bgr'].isnull().sum()

44

In [49]:
df['bgr'].mean()

148.0365168539326

In [50]:
df['bgr'].median()

121.0

In [51]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.575000,1.017408,0.90000,0.395000,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,16.974966,13.489785,0.005369,1.31313,1.040038,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.00000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.015000,0.00000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,54.000000,80.000000,1.017408,0.00000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.000000,80.000000,1.020000,2.00000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.00000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [52]:
len(df[df['bgr']==df['bgr'].median()])

4

In [53]:
# replace missing values in bgr by median
df['bgr'].fillna(df['bgr'].median(), inplace=True)

# check
df['bgr'].isnull().sum()

0

### 11) column 'bu' missing values

In [54]:
df['bu'].isnull().sum()

19

In [55]:
# fillin missing values by mean
df['bu'].fillna(df['bu'].mean(), inplace=True)

#check
df['bu'].isnull().sum()

0

### 12) column 'sc' null values

In [56]:
df['sc'].isnull().sum()

17

In [57]:
# fill null values by mean
df['sc'].fillna(df['sc'].mean(),inplace=True)

# check
df['su'].isnull().sum()

0

### 13) 'sod' column missing values

In [58]:
df['sod'].isnull().sum()

87

In [59]:
df['sod'].describe()

count    313.000000
mean     137.528754
std       10.408752
min        4.500000
25%      135.000000
50%      138.000000
75%      142.000000
max      163.000000
Name: sod, dtype: float64

In [60]:
# fill na by mean
df['sod'].fillna(df['sod'].mean(), inplace=True)
# check
df['sod'].isnull().sum()

0

### 14) 'pot' column missing values

In [61]:
df['pot'].describe()

count    312.000000
mean       4.627244
std        3.193904
min        2.500000
25%        3.800000
50%        4.400000
75%        4.900000
max       47.000000
Name: pot, dtype: float64

In [62]:
# fill null values by mean
df['pot'].fillna(df['pot'].mean(), inplace=True)

# check
df['pot'].isnull().sum()

0

### 15) 'hemo' column missing values

In [63]:
# fill na by mean
df['hemo'].fillna(df['hemo'].mean(), inplace=True)

# check
df['hemo'].isnull().sum()

0

### 16) 'pcv' column missing values
  - first we have to change its  datatype as float

In [64]:
df['pcv'].dtype

dtype('O')

In [65]:
# Convert 'pcv' column to numeric data type
df['pcv'] = pd.to_numeric(df['pcv'], errors='coerce')

#check
df['pcv'].dtype

dtype('float64')

In [66]:
# missing values in pcv
df['pcv'].isnull().sum()

71

In [67]:
df['pcv'].describe()

count    329.000000
mean      38.884498
std        8.990105
min        9.000000
25%       32.000000
50%       40.000000
75%       45.000000
max       54.000000
Name: pcv, dtype: float64

In [68]:
# fillling null values in 'pcv' by mean
df['pcv'].fillna(df['pcv'].mean(), inplace=True)

# check
df['pcv'].isnull().sum()

0

### 17) 'wc' missing values
 - if its datatype is 'object' then we have to convert it first and then we can change missing values.

In [69]:
df['wc'].dtype

dtype('O')

In [70]:
# convert 'wc' column datatype to numeric data type
df['wc'] = pd.to_numeric(df['wc'], errors='coerce')

# check datatype of 'wc'
df['wc'].dtype

dtype('float64')

In [71]:
df['wc'].describe()

count      294.000000
mean      8406.122449
std       2944.474190
min       2200.000000
25%       6500.000000
50%       8000.000000
75%       9800.000000
max      26400.000000
Name: wc, dtype: float64

In [72]:
# replace null values by mean of wc
df['wc'].fillna(df['wc'].mean(), inplace=True)

# check null value count
df['wc'].isnull().sum()

0

### 18) column 'rc' missing values
 - check datatype and if datatype is 'object' then first change it to numeric and replace null values by mean of median

In [73]:
df['rc'].dtype

dtype('O')

In [74]:
# change 'rc' to numeric data type
df['rc'] = pd.to_numeric(df['rc'], errors= 'coerce')

# check datatype of rc
df['rc'].dtype

dtype('float64')

In [75]:
df['rc'].describe()

count    269.000000
mean       4.707435
std        1.025323
min        2.100000
25%        3.900000
50%        4.800000
75%        5.400000
max        8.000000
Name: rc, dtype: float64

In [76]:
# fill na by mean
df['rc'].fillna(df['rc'].mean(), inplace=True)

# check for null values
df['rc'].isnull().sum()

0

## column 'htn', 'dm' and 'cad' have  only 2 missing values

In [77]:
df[['htn','dm','cad']].isnull().sum()

htn    2
dm     2
cad    2
dtype: int64

### 19) missing values in column 'htn'

In [78]:
# column 'htn' , missing value filled by mode of 'htn'
df['htn'].mode()[0]

'no'

In [79]:
df['htn'].fillna(df['htn'].mode()[0] ,inplace=True)
# check for null values in htn
df['htn'].isnull().sum()

0

### 20) now in column 'dm' we have to do  corrections in values

In [80]:
df['dm'].value_counts()

no       258
yes      134
\tno       3
\tyes      2
 yes       1
Name: dm, dtype: int64

In [81]:
# we replace \tno ==> no and \tyes ==> yes

df['dm'] = df['dm'].replace('\tno' , 'no')
df['dm'] = df['dm'].replace(['\tyes',' yes'] , 'yes')

df['dm'].value_counts()

no     261
yes    137
Name: dm, dtype: int64

In [82]:
# fill null values in 'dm' by mode value of 'dm'
df['dm'].fillna(df['dm'].mode()[0], inplace=True)

# check
df['dm'].isnull().sum()

0

### 21) now in column 'cad' we have to do  corrections in values

In [83]:
df['cad'].value_counts()

no      362
yes      34
\tno      2
Name: cad, dtype: int64

In [84]:
# we replace '\tno' by 'no'
df['cad'] = df['cad'].replace('\tno', 'no')
# check
df['cad'].value_counts()

no     364
yes     34
Name: cad, dtype: int64

In [85]:
## nul values replace by mode of 'cad'
df['cad'].fillna(df['cad'].mode()[0], inplace=True)
# check null values in cad
df['cad'].isnull().sum()

0

### 22) 'appet' column missing values

In [86]:
df['appet'].isnull().sum()

1

In [87]:
# fill na value in 'appet' bu mode of 'appet'

df['appet'].fillna(df['appet'].mode()[0], inplace=True)
#check
df['appet'].isnull().sum()

0

### 23) column 'pe' missing values

In [88]:
df['pe'].isnull().sum()

1

In [89]:
# fill null value by mode
df['pe'].fillna(df['pe'].mode()[0], inplace=True)

# check
df['pe'].isnull().sum()

0

### 24) column 'ane' missing values

In [90]:
df['ane'].isnull().sum()

1

In [91]:
# fill missing values by mode
df['ane'].fillna(df['ane'].mode()[0], inplace=True)
# check
df['ane'].isnull().sum()

0

### 25) column 'classification' we have some issues

In [92]:
df['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [93]:
# replace 'ckd\t' by 'ckd'
df['classification'] = df['classification'].replace('ckd\t', 'ckd')
# check
df['classification'].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

#  lets check our data having null values or not

In [94]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             400 non-null    object
 7   pc              400 non-null    object
 8   pcc             400 non-null    object
 9   ba              400 non-null    object
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             400 non-null    float64
 17  wc              400 non-null    float64
 18  rc              400 non-null    float64
 19  htn             400 non-null    object
 20  dm              400 non-null    object
 21  cad             400 non-null    object
 22  appet           400 non-null    object
 23  pe              400 non-null    object
 24  ane             400 non-null    object
 25  classification  400 non-null    object
dtypes: float64(14), int64(1), object(11)
memory usage: 81.4+ KB

In [96]:
df[df['age']<20]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
1,1,7.0,50.0,1.020000,4.0,0.0,normal,normal,notpresent,notpresent,...,38.000000,6000.000000,4.707435,no,no,no,good,no,no,ckd
47,47,11.0,80.0,1.010000,3.0,0.0,normal,normal,notpresent,notpresent,...,45.000000,8600.000000,4.707435,no,no,no,good,no,no,ckd
62,62,15.0,60.0,1.020000,3.0,0.0,normal,normal,notpresent,notpresent,...,33.000000,7700.000000,3.800000,yes,yes,no,good,no,no,ckd
75,75,5.0,80.0,1.015000,1.0,0.0,normal,normal,notpresent,notpresent,...,38.884498,8406.122449,4.707435,no,no,no,good,no,yes,ckd
102,102,17.0,60.0,1.010000,0.0,0.0,normal,normal,notpresent,notpresent,...,52.000000,7000.000000,4.707435,no,no,no,good,no,no,ckd
114,114,12.0,60.0,1.015000,3.0,0.0,abnormal,abnormal,present,notpresent,...,38.884498,10300.000000,4.707435,no,no,no,good,no,no,ckd
131,131,5.0,50.0,1.010000,0.0,0.0,normal,normal,notpresent,notpresent,...,36.000000,12400.000000,4.707435,no,no,no,good,no,no,ckd
150,150,8.0,60.0,1.025000,3.0,0.0,normal,normal,notpresent,notpresent,...,41.000000,6700.000000,4.707435,no,no,no,poor,yes,no,ckd
164,164,14.0,80.0,1.015000,0.0,0.0,normal,normal,notpresent,notpresent,...,40.000000,9500.000000,5.400000,no,yes,no,poor,yes,no,ckd
173,173,17.0,70.0,1.015000,1.0,0.0,abnormal,normal,notpresent,notpresent,...,41.000000,11200.000000,4.707435,no,no,no,good,no,no,ckd
185,185,4.0,80.0,1.020000,1.0,0.0,normal,normal,notpresent,notpresent,...,34.000000,8406.122449,4.707435,no,no,no,good,no,no,ckd
186,186,8.0,50.0,1.020000,4.0,0.0,normal,normal,notpresent,notpresent,...,38.884498,8406.122449,4.707435,no,no,no,good,yes,no,ckd
187,187,3.0,80.0,1.010000,2.0,0.0,normal,normal,notpresent,notpresent,...,34.000000,12300.000000,4.707435,no,no,no,good,no,no,ckd
188,188,8.0,80.0,1.017408,0.0,0.0,normal,normal,notpresent,notpresent,...,38.000000,8406.122449,4.707435,no,no,no,good,no,no,ckd
190,190,6.0,60.0,1.010000,4.0,0.0,abnormal,abnormal,notpresent,present,...,30.000000,16700.000000,4.800000,no,no,no,poor,no,no,ckd
209,209,19.0,70.0,1.020000,0.0,0.0,normal,normal,notpresent,notpresent,...,38.884498,6900.000000,4.707435,no,no,no,good,no,no,ckd
215,215,2.0,80.0,1.010000,3.0,0.0,normal,abnormal,notpresent,notpresent,...,38.884498,8406.122449,4.707435,no,no,no,good,yes,no,ckd
274,274,19.0,80.0,1.020000,0.0,0.0,normal,normal,notpresent,notpresent,...,44.000000,8406.122449,4.707435,no,no,no,good,no,no,notckd
387,387,15.0,80.0,1.025000,0.0,0.0,normal,normal,notpresent,notpresent,...,50.000000,6200.000000,5.200000,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020000,0.0,0.0,normal,normal,notpresent,notpresent,...,49.000000,6600.000000,5.400000,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025000,0.0,0.0,normal,normal,notpresent,notpresent,...,51.000000,7200.000000,5.900000,no,no,no,good,no,no,notckd

In [97]:
# create a csv file to store cleaned data 
df.to_csv('kidney_disease_cleaned_data.csv')

In [98]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
count,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,51.483376,76.575000,1.017408,0.90000,0.395000,145.062500,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
std,115.614301,16.974966,13.489785,0.005369,1.31313,1.040038,75.260774,49.285887,5.617490,9.204273,2.819783,2.716171,8.151081,2523.219976,0.840314
min,0.000000,2.000000,50.000000,1.005000,0.00000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,99.750000,42.000000,70.000000,1.015000,0.00000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000,34.000000,6975.000000,4.500000
50%,199.500000,54.000000,80.000000,1.017408,0.00000,0.000000,121.000000,44.000000,1.400000,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
75%,299.250000,64.000000,80.000000,1.020000,2.00000,0.000000,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000,44.000000,9400.000000,5.100000
max,399.000000,90.000000,180.000000,1.025000,5.00000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

# Encoding for categorical data

- We have total 11 columns which have categorical data.

In [99]:
df.describe().columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'pcv', 'wc', 'rc'],
      dtype='object')

In [100]:
# drop numeric columns and take only categorical data columns
df1 = df.drop(df.describe().columns, axis=1)
df1.head()

,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,normal,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd

In [101]:
df1.columns

Index(['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
       'classification'],
      dtype='object')

- Here we have 1 ordinal categorical data column 'appet'
- Target column 'classification'
- all other 9 columns are nominal categorical data columns

In [102]:
# First we split data into dependent and independent data
X = df.drop(['id','age','classification'],axis=1)
y = df['classification']

In [103]:
X.head()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,36.0,...,15.4,44.0,7800.0,5.200000,yes,yes,no,good,no,no
1,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,121.0,18.0,...,11.3,38.0,6000.0,4.707435,no,no,no,good,no,no
2,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,...,9.6,31.0,7500.0,4.707435,no,yes,no,poor,no,yes
3,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,...,11.2,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes
4,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,...,11.6,35.0,7300.0,4.600000,no,no,no,good,no,no

In [104]:
X.columns

Index(['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc',
       'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet',
       'pe', 'ane'],
      dtype='object')

## train test split

In [105]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2)

In [106]:
print('Shape of X_train: ', X_train.shape)
print('Shape of X_test: ', X_test.shape)
print('Shape of y_train: ',y_train.shape)
print('Shape of y_test : ', y_test.shape)

Shape of X_train:  (320, 23)
Shape of X_test:  (80, 23)
Shape of y_train:  (320,)
Shape of y_test :  (80,)

## 1) Encode Nominal columns by One Hot encoder

In [107]:
# Encode the categorical features using OneHotEncoder
categorical_cols = ['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'pe', 'ane']

from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(drop='first', sparse=False)

# fit_transform on X_train only
onehot_encoder.fit(X_train[categorical_cols])

# column names after one hot encoding
cols = onehot_encoder.get_feature_names(categorical_cols)

# transform on X_train
X_train_cat_encoded = pd.DataFrame(onehot_encoder.transform(X_train[categorical_cols]),columns=cols)

# transform on X_test
X_test_cat_encoded = pd.DataFrame(onehot_encoder.transform(X_test[categorical_cols]), columns=cols)

In [108]:
X_train_cat_encoded

,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes
0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
315,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
316,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
317,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
318,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
319,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [109]:
X_test_cat_encoded

,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
75,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
76,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

## 2) Encode ordinal categorical column by OrdinalEncoder

In [110]:
# Encode the ordinal feature using OrdinalEncoder
ordinal_cols = ['appet']
ordinal_categories = [['poor', 'good']]

from sklearn.preprocessing import OrdinalEncoder 

ordinal_encoder = OrdinalEncoder(categories=ordinal_categories)

# fit on X_train only
ordinal_encoder.fit(X_train[ordinal_cols])

# column names after ordinal encoding
#colss = onehot_encoder.get_feature_names(ordinal_cols)

# transform on X_train
X_train_ord_encoded = pd.DataFrame(ordinal_encoder.fit_transform(X_train[ordinal_cols]), columns=ordinal_cols)

# only transform on X_test
X_test_ord_encoded = pd.DataFrame(ordinal_encoder.transform(X_test[ordinal_cols]), columns=ordinal_cols)

In [111]:
X_train_ord_encoded

     appet
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
..     ...
315    0.0
316    1.0
317    1.0
318    0.0
319    1.0

[320 rows x 1 columns]

In [112]:
X_test_ord_encoded

    appet
0     0.0
1     1.0
2     0.0
3     1.0
4     1.0
..    ...
75    1.0
76    1.0
77    1.0
78    1.0
79    1.0

[80 rows x 1 columns]

# Now combine numerical columns , categorical encoded by onehotencoder and ordinal encoder

In [113]:
# Combine the encoded features into a single DataFrame

# X_train
X_train_encoded = pd.concat([X_train.drop(columns=categorical_cols+ordinal_cols).reset_index(),
                             X_train_cat_encoded,X_train_ord_encoded],axis=1).drop('index',axis=1)

# X_test
X_test_encoded = pd.concat([X_test.drop(columns=categorical_cols+ordinal_cols).reset_index(),
                            X_test_cat_encoded, X_test_ord_encoded], axis=1).drop('index',axis=1)

In [114]:
X_train_encoded

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
0,60.0,1.010000,2.0,0.0,268.0,86.0,4.000000,134.000000,5.100000,10.000000,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,70.0,1.010000,0.0,0.0,107.0,15.0,3.072454,137.528754,4.627244,12.800000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,80.0,1.020000,0.0,0.0,122.0,25.0,0.800000,138.000000,5.000000,17.100000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,70.0,1.010000,0.0,4.0,256.0,40.0,1.200000,142.000000,5.600000,12.526437,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,70.0,1.010000,2.0,0.0,113.0,93.0,2.300000,137.528754,4.627244,7.900000,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,60.0,1.015000,4.0,0.0,118.0,125.0,5.300000,136.000000,4.900000,11.400000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
316,70.0,1.005000,0.0,0.0,70.0,32.0,0.900000,125.000000,4.000000,10.000000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
317,60.0,1.015000,1.0,0.0,100.0,31.0,1.600000,137.528754,4.627244,10.300000,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
318,60.0,1.017408,0.0,0.0,171.0,26.0,48.100000,137.528754,4.627244,12.526437,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
319,100.0,1.015000,4.0,0.0,118.0,125.0,5.300000,136.000000,4.900000,12.000000,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [115]:
X_test_encoded

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
0,90.0,1.025000,1.0,0.0,121.0,223.0,18.1,113.000000,6.500000,5.500000,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
1,70.0,1.015000,1.0,0.0,150.0,111.0,6.1,131.000000,3.700000,7.500000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,70.0,1.025000,1.0,0.0,158.0,49.0,1.4,135.000000,4.700000,11.100000,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,100.0,1.015000,2.0,0.0,129.0,107.0,6.7,132.000000,4.400000,4.800000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,60.0,1.020000,0.0,0.0,129.0,25.0,1.2,139.000000,5.000000,17.200000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,70.0,1.015000,1.0,0.0,127.0,19.0,1.0,134.000000,3.600000,12.526437,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
76,70.0,1.020000,0.0,0.0,83.0,42.0,1.2,139.000000,3.700000,16.200000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
77,60.0,1.017408,0.0,0.0,120.0,40.0,0.5,140.000000,4.600000,16.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
78,70.0,1.025000,0.0,0.0,92.0,40.0,0.9,141.000000,4.900000,14.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
79,90.0,1.010000,3.0,3.0,121.0,35.0,1.3,137.528754,4.627244,10.300000,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0

# 3) encode now for target column by LabelEncoder()

In [116]:
y_train

137       ckd
216       ckd
305    notckd
140       ckd
235       ckd
        ...
127       ckd
48        ckd
19        ckd
148       ckd
133       ckd
Name: classification, Length: 320, dtype: object

In [117]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
y_train_encoded = label_encoder.transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [118]:
# if we want to check targety column categories 
label_encoder.classes_

array(['ckd', 'notckd'], dtype=object)

In [119]:
X_train_encoded

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
0,60.0,1.010000,2.0,0.0,268.0,86.0,4.000000,134.000000,5.100000,10.000000,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,70.0,1.010000,0.0,0.0,107.0,15.0,3.072454,137.528754,4.627244,12.800000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,80.0,1.020000,0.0,0.0,122.0,25.0,0.800000,138.000000,5.000000,17.100000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,70.0,1.010000,0.0,4.0,256.0,40.0,1.200000,142.000000,5.600000,12.526437,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,70.0,1.010000,2.0,0.0,113.0,93.0,2.300000,137.528754,4.627244,7.900000,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,60.0,1.015000,4.0,0.0,118.0,125.0,5.300000,136.000000,4.900000,11.400000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
316,70.0,1.005000,0.0,0.0,70.0,32.0,0.900000,125.000000,4.000000,10.000000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
317,60.0,1.015000,1.0,0.0,100.0,31.0,1.600000,137.528754,4.627244,10.300000,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
318,60.0,1.017408,0.0,0.0,171.0,26.0,48.100000,137.528754,4.627244,12.526437,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
319,100.0,1.015000,4.0,0.0,118.0,125.0,5.300000,136.000000,4.900000,12.000000,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

## we have to scale our data

In [120]:
# describe() before scaling
X_train_encoded.describe()

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
count,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,...,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,76.281250,1.017356,0.887500,0.381250,145.196875,55.523241,2.813553,137.973388,4.576499,12.475280,...,0.890625,0.809375,0.109375,0.056250,0.350000,0.334375,0.084375,0.178125,0.150000,0.790625
std,13.814114,0.005356,1.317771,1.000764,77.638189,45.451226,4.160403,6.101312,2.473378,2.640691,...,0.312598,0.393409,0.312598,0.230765,0.477717,0.472510,0.278385,0.383217,0.357631,0.407500
min,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,104.000000,2.500000,3.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,70.000000,1.015000,0.000000,0.000000,100.000000,27.750000,0.900000,135.000000,4.000000,10.900000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,80.000000,1.017408,0.000000,0.000000,121.000000,44.500000,1.400000,137.528754,4.627244,12.526437,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,80.000000,1.020000,2.000000,0.000000,145.000000,60.000000,3.072454,141.000000,4.800000,14.400000,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,180.000000,1.025000,5.000000,5.000000,490.000000,322.000000,48.100000,150.000000,47.000000,17.800000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## 1) standard scaler

In [121]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
std_scaler.fit(X_train_encoded)

X_train_scaled = pd.DataFrame(std_scaler.transform(X_train_encoded),
                              columns=X_train_encoded.columns)

X_test_scaled = pd.DataFrame(std_scaler.transform(X_test_encoded),
                             columns= X_test_encoded.columns)

In [122]:
X_train_scaled

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
0,-1.180441,-1.375642,0.845551,-0.381556,1.584213,0.671588,0.285623,-0.652255,0.211986,-0.938829,...,0.350438,-2.060559,2.853569,-0.244137,1.362770,1.410905,-0.303562,-0.465543,-0.420084,0.514609
1,-0.455410,-1.375642,-0.674541,-0.381556,-0.492756,-0.892973,0.062327,-0.072989,0.020548,0.123160,...,0.350438,0.485305,-0.350438,-0.244137,-0.733799,-0.708765,-0.303562,-0.465543,-0.420084,0.514609
2,0.269621,0.494462,-0.674541,-0.381556,-0.299250,-0.672612,-0.484738,0.004369,0.171492,1.754072,...,0.350438,0.485305,-0.350438,-0.244137,-0.733799,-0.708765,-0.303562,-0.465543,-0.420084,0.514609
3,-0.455410,-1.375642,-0.674541,3.621651,1.429408,-0.342071,-0.388443,0.660992,0.414455,0.019403,...,0.350438,0.485305,-0.350438,-0.244137,-0.733799,-0.708765,-0.303562,-0.465543,-0.420084,0.514609
4,-0.455410,-1.375642,0.845551,-0.381556,-0.415354,0.825840,-0.123631,-0.072989,0.020548,-1.735321,...,0.350438,0.485305,-0.350438,-0.244137,-0.733799,-0.708765,3.294215,-0.465543,2.380476,0.514609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,-1.180441,-0.440590,2.365642,-0.381556,-0.350851,1.530994,0.598582,-0.323943,0.130998,-0.407834,...,0.350438,0.485305,-0.350438,-0.244137,1.362770,1.410905,-0.303562,2.148031,-0.420084,-1.943224
316,-0.455410,-2.310695,-0.674541,-0.381556,-0.970072,-0.518360,-0.460664,-2.129658,-0.233447,-0.938829,...,0.350438,0.485305,-0.350438,-0.244137,1.362770,1.410905,-0.303562,2.148031,-0.420084,0.514609
317,-1.180441,-0.440590,0.085505,-0.381556,-0.583059,-0.540396,-0.292148,-0.072989,0.020548,-0.825044,...,0.350438,-2.060559,2.853569,-0.244137,1.362770,-0.708765,3.294215,-0.465543,-0.420084,0.514609
318,-1.180441,0.009718,-0.674541,-0.381556,0.332871,-0.650576,10.902158,-0.072989,0.020548,0.019403,...,0.350438,0.485305,-0.350438,-0.244137,1.362770,-0.708765,-0.303562,-0.465543,-0.420084,-1.943224
319,1.719683,-0.440590,2.365642,-0.381556,-0.350851,1.530994,0.598582,-0.323943,0.130998,-0.180265,...,0.350438,0.485305,-0.350438,-0.244137,1.362770,-0.708765,-0.303562,-0.465543,-0.420084,0.514609

In [123]:
# describe() after standard scaler
np.round(X_train_scaled.describe(), 2)

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
count,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,...,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00
mean,0.00,-0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,...,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.91,-2.31,-0.67,-0.38,-1.59,-1.19,-0.58,-5.58,-0.84,-3.56,...,-2.85,-2.06,-0.35,-0.24,-0.73,-0.71,-0.30,-0.47,-0.42,-1.94
25%,-0.46,-0.44,-0.67,-0.38,-0.58,-0.61,-0.46,-0.49,-0.23,-0.60,...,0.35,0.49,-0.35,-0.24,-0.73,-0.71,-0.30,-0.47,-0.42,0.51
50%,0.27,0.01,-0.67,-0.38,-0.31,-0.24,-0.34,-0.07,0.02,0.02,...,0.35,0.49,-0.35,-0.24,-0.73,-0.71,-0.30,-0.47,-0.42,0.51
75%,0.27,0.49,0.85,-0.38,-0.00,0.10,0.06,0.50,0.09,0.73,...,0.35,0.49,-0.35,-0.24,1.36,1.41,-0.30,-0.47,-0.42,0.51
max,7.52,1.43,3.13,4.62,4.45,5.87,10.90,1.97,17.18,2.02,...,0.35,0.49,2.85,4.10,1.36,1.41,3.29,2.15,2.38,0.51

## 2) MinmaxScaler for normalization

In [124]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()

X_train_mm_scaled = pd.DataFrame(mm_scaler.fit_transform(X_train_encoded),
                                 columns= X_train_encoded.columns)

X_test_mm_scaled = pd.DataFrame(mm_scaler.transform(X_test_encoded),
                                columns= X_test_encoded.columns)

In [125]:
# describe after minmaxscaler
np.round(X_train_mm_scaled.describe(), 2)

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
count,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,...,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00
mean,0.20,0.62,0.18,0.08,0.26,0.17,0.05,0.74,0.05,0.64,...,0.89,0.81,0.11,0.06,0.35,0.33,0.08,0.18,0.15,0.79
std,0.11,0.27,0.26,0.20,0.17,0.14,0.09,0.13,0.06,0.18,...,0.31,0.39,0.31,0.23,0.48,0.47,0.28,0.38,0.36,0.41
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.15,0.50,0.00,0.00,0.17,0.08,0.01,0.67,0.03,0.53,...,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
50%,0.23,0.62,0.00,0.00,0.21,0.13,0.02,0.73,0.05,0.64,...,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
75%,0.23,0.75,0.40,0.00,0.26,0.18,0.06,0.80,0.05,0.77,...,1.00,1.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

## 3) RobustScaler

In [126]:
from sklearn.preprocessing import RobustScaler
rb_scaler = RobustScaler()

X_train_rb_scaled = pd.DataFrame(rb_scaler.fit_transform(X_train_encoded), 
                                 columns=X_train_encoded.columns)

X_test_rb_scaled = pd.DataFrame(rb_scaler.transform(X_test_encoded),
                                columns= X_test_encoded.columns)

In [127]:
# describe after robust scaler
np.round(X_train_rb_scaled.describe(), 2)

,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,pe_yes,ane_yes,appet
count,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,...,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00,320.00
mean,-0.37,-0.01,0.44,0.38,0.54,0.34,0.65,0.07,-0.06,-0.01,...,-0.11,-0.19,0.11,0.06,0.35,0.33,0.08,0.18,0.15,-0.21
std,1.38,1.07,0.66,1.00,1.73,1.41,1.92,1.02,3.09,0.75,...,0.31,0.39,0.31,0.23,0.48,0.47,0.28,0.38,0.36,0.41
min,-3.00,-2.48,0.00,0.00,-2.20,-1.33,-0.46,-5.59,-2.66,-2.69,...,-1.00,-1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-1.00
25%,-1.00,-0.48,0.00,0.00,-0.47,-0.52,-0.23,-0.42,-0.78,-0.46,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.00,0.52,1.00,0.00,0.53,0.48,0.77,0.58,0.22,0.54,...,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00
max,10.00,1.52,2.50,5.00,8.20,8.60,21.50,2.08,52.97,1.51,...,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00

# Machine Learning model creation

# 1) logistic Regression

In [128]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

# on standard scaled 
lg_std = LogisticRegression()
lg_std.fit(X_train_scaled, y_train_encoded)
y_pred_lg_std  = lg_std.predict(X_test_scaled) 
lg_std_cm = confusion_matrix(y_test_encoded, y_pred_lg_std)
lg_std_accuracy = accuracy_score(y_test_encoded, y_pred_lg_std)

# on MinMaxscaled data
lg_mm = LogisticRegression()
lg_mm.fit(X_train_mm_scaled, y_train_encoded)
y_pred_lg_mm  = lg_mm.predict(X_test_scaled) 
lg_mm_cm = confusion_matrix(y_test_encoded, y_pred_lg_mm)
lg_mm_accuracy = accuracy_score(y_test_encoded, y_pred_lg_mm)



# on Robust Scaled data
lg_rb = LogisticRegression()
lg_rb.fit(X_train_rb_scaled, y_train_encoded)
y_pred_lg_rb  = lg_rb.predict(X_test_scaled) 
lg_rb_cm = confusion_matrix(y_test_encoded, y_pred_lg_rb)
lg_rb_accuracy = accuracy_score(y_test_encoded, y_pred_lg_rb)

#### score for logistic regression on each scaled data

In [129]:
# for standard sclaed data
print('Logistic Regression with Standard scaler: ')
print(lg_std_cm)
print('accuracy score for standard scaled logistic regression : ', lg_std_accuracy)
print('--------')    
 
# for minmax sclaed data
print('Logistic Regression with MinMax scaler: ')
print(lg_mm_cm)
print('accuracy score for MinMax scaled logistic regression : ', lg_mm_accuracy)
print('------')

# for robust sclaed data
print('Logistic Regression with robust scaler: ')
print(lg_rb_cm)
print('accuracy score for robust scaled logistic regression : ', lg_rb_accuracy)

Logistic Regression with Standard scaler:
[[51  0]
 [ 0 29]]
accuracy score for standard scaled logistic regression :  1.0
--------
Logistic Regression with MinMax scaler:
[[51  0]
 [ 0 29]]
accuracy score for MinMax scaled logistic regression :  1.0
------
Logistic Regression with robust scaler:
[[45  6]
 [ 0 29]]
accuracy score for robust scaled logistic regression :  0.925

## 2) Support vector machine

In [130]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score

# on standard scaled 
svm_std = SVC()
svm_std.fit(X_train_scaled, y_train_encoded)
y_pred_svm_std  = svm_std.predict(X_test_scaled) 
svm_std_cm = confusion_matrix(y_test_encoded, y_pred_svm_std)
svm_std_accuracy = accuracy_score(y_test_encoded, y_pred_svm_std)

# on MinMaxscaled data
svm_mm = SVC()
svm_mm.fit(X_train_mm_scaled, y_train_encoded)
y_pred_svm_mm  = svm_mm.predict(X_test_scaled) 
svm_mm_cm = confusion_matrix(y_test_encoded, y_pred_svm_mm)
svm_mm_accuracy = accuracy_score(y_test_encoded, y_pred_svm_mm)



# on Robust Scaled data
svm_rb = SVC()
svm_rb.fit(X_train_rb_scaled, y_train_encoded)
y_pred_svm_rb  = svm_rb.predict(X_test_scaled) 
svm_rb_cm = confusion_matrix(y_test_encoded, y_pred_svm_rb)
svm_rb_accuracy = accuracy_score(y_test_encoded, y_pred_svm_rb)

In [131]:
# for standard sclaed data
print('Support vector machine with Standard scaler: ')
print(svm_std_cm)
print('accuracy score for standard scaled Support vector machine : ', svm_std_accuracy)
print('--------')    
 
# for minmax sclaed data
print('Support vector machine with MinMax scaler: ')
print(svm_mm_cm)
print('accuracy score for MinMax scaled Support vector machine : ', svm_mm_accuracy)
print('------')

# for robust sclaed data
print('Support vector machine with robust scaler: ')
print(svm_rb_cm)
print('accuracy score for robust scaled Support vector machine : ', svm_rb_accuracy)

Support vector machine with Standard scaler:
[[51  0]
 [ 0 29]]
accuracy score for standard scaled Support vector machine :  1.0
--------
Support vector machine with MinMax scaler:
[[51  0]
 [29  0]]
accuracy score for MinMax scaled Support vector machine :  0.6375
------
Support vector machine with robust scaler:
[[48  3]
 [ 0 29]]
accuracy score for robust scaled Support vector machine :  0.9625

## 3) Decision Tree Classifier

In [132]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

# on standard scaled 
dt_std = DecisionTreeClassifier()
dt_std.fit(X_train_scaled, y_train_encoded)
y_pred_dt_std  = dt_std.predict(X_test_scaled) 
dt_std_cm = confusion_matrix(y_test_encoded, y_pred_dt_std)
dt_std_accuracy = accuracy_score(y_test_encoded, y_pred_dt_std)

# on MinMaxscaled data
dt_mm = DecisionTreeClassifier()
dt_mm.fit(X_train_mm_scaled, y_train_encoded)
y_pred_dt_mm  = dt_mm.predict(X_test_scaled) 
dt_mm_cm = confusion_matrix(y_test_encoded, y_pred_dt_mm)
dt_mm_accuracy = accuracy_score(y_test_encoded, y_pred_dt_mm)



# on Robust Scaled data
dt_rb = DecisionTreeClassifier()
dt_rb.fit(X_train_rb_scaled, y_train_encoded)
y_pred_dt_rb  = dt_rb.predict(X_test_scaled) 
dt_rb_cm = confusion_matrix(y_test_encoded, y_pred_dt_rb)
dt_rb_accuracy = accuracy_score(y_test_encoded, y_pred_dt_rb)

In [133]:
# for standard sclaed data
print('Decision Tree classifier with Standard scaler: ')
print(dt_std_cm)
print('accuracy score for standard scaled Decision Tree classifier : ', dt_std_accuracy)
print('--------')    
 
# for minmax sclaed data
print('Decision Tree classifier with MinMax scaler: ')
print(dt_mm_cm)
print('accuracy score for MinMax scaled Decision Tree classifier : ', dt_mm_accuracy)
print('------')

# for robust sclaed data
print('Decision Tree classifier with robust scaler: ')
print(dt_rb_cm)
print('accuracy score for robust scaled Decision Tree classifier : ', dt_rb_accuracy)

Decision Tree classifier with Standard scaler:
[[50  1]
 [ 0 29]]
accuracy score for standard scaled Decision Tree classifier :  0.9875
--------
Decision Tree classifier with MinMax scaler:
[[49  2]
 [18 11]]
accuracy score for MinMax scaled Decision Tree classifier :  0.75
------
Decision Tree classifier with robust scaler:
[[47  4]
 [ 0 29]]
accuracy score for robust scaled Decision Tree classifier :  0.95

In [134]:
# create score dataframe for ml models with each scaled data
scores = {'ML models' : ['Lodistic Regression', 'SVM', 'Decision Tree'],
        'Standard_sclaled': [lg_std_accuracy, svm_std_accuracy, dt_std_accuracy],
        'MinMax-Scaled' : [lg_mm_accuracy, svm_mm_accuracy, dt_mm_accuracy],
        'Robust-Scaled' : [lg_rb_accuracy, svm_rb_accuracy, dt_rb_accuracy]
        }


score_df = pd.DataFrame(scores)
score_df

             ML models  Standard_sclaled  MinMax-Scaled  Robust-Scaled
0  Lodistic Regression            1.0000         1.0000         0.9250
1                  SVM            1.0000         0.6375         0.9625
2        Decision Tree            0.9875         0.7500         0.9500

# Store models in pickle file

In [135]:
import joblib

# for Logistic regression with standard scaled data
joblib.dump(lg_std, 'kidney_disease_logistic_std.pkl')

# for Logistic regression with Minmax scaled data
joblib.dump(lg_mm, 'kidney_disease_logistic_mm.pkl')

# for support vector machine classifier with standard scaled data
joblib.dump(svm_std, 'kidney_disease_svm_std.pkl')

['kidney_disease_svm_std.pkl']

# Conclusion on this data : 
 - I have tried to clean this dataset, I hope I have done it on right way.
 - and also I have create some machine learning model and test their accuracy on this data with different scaling. 
 - I got reselt for which model we can choose with which scaling for best result.
 - We can use 
   - `Logistic regression` with `Standard scaling data` and `MinMax scaling data`
   - `Support vector machine` with only `standard scaling data` which gives best result.
   
 - Please give me few advice something if I made mistakes..

  
### ------- Thank You ------